body {
	
	/*
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	background-image: url("assets/images/weather.png");
	background-position: top left;
	background-repeat: repeat;
	background-attachment: fixed;
	*/
	background-color: #4A6DA5;
}

#testimonialOuterBoarder {
	
	border-radius: 2%;
	
}

#aboutUsContent {
	padding-top: 20px; 
	padding-bottom: 30px;
}