#aboutUsContent { 
	padding-bottom: 30px;

}

body {
	background-image: url('../images/weather.png');
	background-repeat: repeat;	
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	
}

#jumbotronContent {
	background-image: url('../images/CarPhone.jpg');
	background-size: cover;
	height: 400px;
}

#jumbotronContent h1 {
	color: white;
}

#map {
	height: 300px;
	width: 100%;
}


#testimonialOuterBoarder {
	background-image: url('../images/DiamondTexture.jpg');
	border-radius: 2%;
	box-shadow: 10px 10px 5px #888;
		
}

#testimonialSlider {
	box-shadow: 10px 0px 5px #888;
	
}

#testimonialSlider {	
	box-shadow: 10px 10px 5px #888
	
}

