body {
	
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	background-color: #729CBF;
	background-image: url("WebContent/assets/images/weather.png");
	background-position: top left;
	background-repeat: repeat;
	background-attachment: fixed;
}

#testimonialOuterBoarder {
	
	border-radius: 2%;
	
}